*{
    margin: 0; padding: 0; box-sizing: border-box;
}
body{
    background-color: #333;
    font-family: Lexend Deca, sans-serif;
}
main{
    display: grid;
    grid-template-columns: repeat(4, 1fr );
    width: 20rem;
    margin: 3rem auto;
    gap: 0.5rem;
}
#title{
    text-align: center;
    font-size: 2rem;
    color: white;
    margin: 30px auto;
}
.total_result{
    grid-column: span 4;
    height: 5rem;
    background-color:  turquoise;
    text-align: end;
    padding: 0.5rem;
    color: black;
}
.top_result{
  display: flex;
  font-size: 1rem;
  justify-content: end;
  height: 1.5rem;
}
.delete, .clear{
    grid-column: span 2;
}
.delete, .operand, .clear, .equal{
    background-color: teal;
    height: 4rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.5rem;
}
.operand:hover, .same:hover{
    opacity: 0.5;
    cursor: pointer;
}
.second_number{
    font-size: 2rem;
}
footer{
    display: flex;
    justify-content: center;
    color: white;
}